* {
  margin: 5px;
  padding: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
    color: black;
}

body {
  background-color: whitesmoke;
}

h1 {
  margin: 32px 0;
  color: grey;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  height: "50px";
  display: grid;
  padding: 10px;
  align-items: center;
  justify-content: center;
  color: black;
}

footer {
  height: "50px";
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.links {
  cursor: pointer;
}
