* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: whitesmoke;
}

h1 {
  margin: 32px 0;
  color: black;
  font-size: 24px;
}

.header{
  height: "50px";
  display: grid;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

footer {
  height: "50px";
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.links {
  cursor: pointer;
}
